
@charset "utf-8";
/* CSS Document */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Common Css Start here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html{
    overflow-x: hidden;
}
*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
a, a:active, a:focus{
    outline: none;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;	
}
select::-ms-expand {
    display: none;
}
.row {
    margin-left:auto;
    margin-right:auto;
}
body{
    height: 100% !important;
    font-family: 'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;
}
.img-responsive{
    width: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~    Custom Fonts Code Start Here   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 






/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~    Header css Start Here   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

.MainBg
{
    position: fixed;
    width: 100%;
}

.wrapper
{
    width: 1024px;
    margin: auto;
    /*background: rgba(255,255,255,0.8);*/
    position: relative;
    border-left: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2);
}
.container
{
    width: 100%;
}
header
{
    width: 100%;
    float: left;
    border-bottom:3px solid rgba(255,255,255,0.50);
}
.InnerHeader
{
    background: #fff;
    float: left;
    width: 100%;
}

#mainMenu
{
    margin-top: 40px;
    float: right;
    /*background: rgba(29, 92, 85, 0.5);*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#mainMenu ul li a
{
    color:#7d7d7d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}
#mainMenu ul li a:hover, #mainMenu ul li a.active
{
    color:#3789AF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: rgba(0,0,0,0.01);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	font-weight:bold;
}

#Adds
{
    color:#ac2925;
    height: 35px;
    line-height: 35px;
    float: left;
    width: 100%;
    font-size: 20px;
}
#HomeSlider 
{
    float: left;
    width: 100%;
}
#HomeSlider .item img
{
    width: 100%;

}
.carousel-control.left, .carousel-control.right
{
    background: none;
    color:#1EB296;
}

.carousel-indicators li
{
    border: 1px solid #1EB296;
}
.carousel-indicators .active{
    background-color: #1EB296;
}


#HomeSection, #AboutSection, #CareersSection, #SupportSection
{
    border-top:3px solid rgba(255,255,255,0.50);
    float: left;
    width: 100%;
}

.InnerContent
{
    background: #fff;
    padding-bottom: 0px;
}
.InnerContent h1
{
    font-weight: 300;
    color: #0093C7;
    font-size: 40px;
    margin-top: 20px;
}
.InnerContent h1 span
{
    color: #9E1E1E;
}
.InnerContent hr
{
    margin-top: 0px;
    border-top:2px solid #ccc;
}
.img-responsive{
    margin: auto;
}
.InnerContent h3
{
    font-weight: 600;
    color: #0093C7;
    font-size: 19px;	
}
.TaxationServices
{
    padding-bottom: 0px;
}
.InnerContent .btn-info
{
    margin: 10px 0px;
}
.ServiceBlock
{
    background: url("../images/box_bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    margin: 5px 0 10px 15px;
    padding: 1px 20px 0;
    width: 97%;
}
.ServiceBlock h3
{
    color:#fff;
}
.ServiceBlock hr
{
    border-bottom: 1px solid #B2B1B1;
    border-top:1px solid #E6E2E2;
}
.ServiceBlock h1
{
    color:#fff;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

footer
{
    background: url(../images/footer_bg.gif) #999999 repeat-x;
    height: 54px;
    width: 100%;
    float: left;
    text-align: center;
    color:#fff;
    line-height: 54px;
    font-size: 12px;
}


.AboutContent
{
    padding-top: 20px;
}
.AboutContent h3 
{
    margin-bottom: 10px;
}
.AboutContent h3 a
{
    border-bottom: dotted 1px #248EBD;
    margin-bottom: 10px;
}
.AboutContent h3 a:hover
{
    text-decoration: none;
}
.AboutContent .ImageContent:first-child
{
    border-right:1px dotted #248EBD;
}
.AboutContent .ImageContent img
{
    width: 60px;
    display: inline-block;
    vertical-align: top;
}
.AboutContent .ImageContent p
{
    display: inline-block;
    width: 83%;
    margin-left: 2%;
    vertical-align: top;
}
.PaddingBottom
{
    padding-bottom: 50px;
}
.paddingleft{
    padding-left: 100px;
}
.MarginRight img
{
    margin-right: 0px;
    display: block;
}
.Marginleft img
{
    margin-left: 0px;
}
.leftSideContent
{
    width: 250px;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 20px;
}
.rightSideContent
{
    padding-top: 20px;
    width: 400px;
}
.leftSideContent ol, .rightSideContent ol
{
    list-style-position: inside;
    padding-top: 10px;
    line-height: 25px;
}

.BorderTop{
    padding-top: 10px;
    padding-bottom: 10px;
}
.separateblock
{
    background: #fff;
    padding: 10px 0px;
}
.separateblock hr
{
    margin:auto;
    width: 80%;
    border-top: dotted 1px #248EBD;
}

#CareersSection .InnerContent
{
    line-height: 30px;
}
#CareersSection h3
{
    padding-bottom: 10px;
}
#CareersSection .InnerContent hr
{
    margin: 10px auto;
    border-top: dotted 1px #248EBD;
}
.mailicon
{
    display: inline-block;
}
.ContactDetails address
{
    line-height: 30px;
}
.ContactDetails h3
{
    padding-bottom: 20px;
}
.contactimg 
{
    height: 200px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.ContactDetails span
{
    font-size: 30px;
    color:#248EBD;
    font-weight: bold;
}
#SupportSection ul
{
    list-style: none;
    line-height: 30px;
}
.handIcon
{
    display: inline-block;
    padding-right: 10px;
}
.minHeight
{
    min-height: 300px;
}
.socialblock a
{
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}
.socialblock a img
{
    width: 50px;
    opacity: 0.6;
}
.socialblock a:hover img
{
    opacity: 1;
}